<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium illum impedit, obcaecati delectus sunt
      aspernatur quidem recusandae soluta voluptate laboriosam aliquid, laudantium harum optio eum cupiditate fugiat
      suscipit dolore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, quisquam eos saepe accusamus error, eius eveniet
      magnam excepturi iste ipsum quod. Aliquid at cum aut ipsam id esse impedit illo?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sequi nulla officiis soluta voluptatem quis
      voluptate dolores nemo voluptatibus quaerat optio amet, iure odit consequuntur doloremque commodi magnam labore
      iste.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

</html>