<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog">
    <form action="/blogs" method="POST">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Blog Snippet</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body" required></label>
      <label for="category" >Category</label>
      <input type="text" name="category" id="category">
      <textarea id="body" name="body"></textarea> 
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

</html>